/* JOBIFY.CSS 1.0 December 2024 by Emerson Reinhard */

html {
    font-family: 'Proxima Nova', sans-serif;
}

body {
    margin: 0;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('static/fonts/Proxima-Nova-Regular.woff') format('woff'),
         url('static/fonts/Proxima-Nova-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Extract from fontawesome.css */

fa-nav {
    margin-left: 10px;
}

/* Extract from navigation.css */

#navigation {
    position: relative;
    border-style: solid;
    background-color: #151621;
    border-color: #313442;
    border: 0px;
    border-bottom: 1px;
    width: 100%;
    filter: none !important;
}

#navigation-items {
    z-index: 10;
    margin: auto;
    width: 100%;
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
}

#items-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

#left-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

ol, ul, menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.item-button {
    cursor: pointer;
    font-size: 100%;
    line-height: 1.5rem;
    color: #9195ab;
    background-color: transparent;
    border: none;
    outline: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s;
    align-items: center;
    display: flex;
    text-decoration: none;
    gap: 1.25rem;
}

#items-right {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

#portal-buttons {
    gap: 10px;
    display: flex;
}

#portal-buttons button {
    font-size: 100%;
    border: none;
    border-radius: .5rem;
    height: 40px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-family: 'Proxima Nova';
}

#signup-button {
    background-color: #467750;
    color: #e0e8e2;
}

#login-button {
    background-color: #89c07e;
    color: #2a3f3f;
}

